.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.button {
    height: 60px;
    width: 170px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background-color: #424242;
    transition: all 0.2s ease-in;
}

.button:active {
	transform: translate(0,4px);
}

.frame {
    width: 500px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    overflow: hidden;
}

.img {
    max-inline-size: 100%;
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}